body {
  background-color: #00adb5;
}

body {
  padding: 32px;
  font-size:24px;
}

.nav-active{
  color:green;
}

.line-fail{
  background-color:#FFCCCB;
}

.form-inline {
  width: 100%;
}

.form-group {
  width: 90%;
}

.input-group {
  width: 90% !important;
}

.form-control {
  height: 100%;
  width: 50% !important;
}

span.input-group-addon {
  width: 50px !important;
}

.fa-check{
  color: #90EE90
}

.fa-times{
  color: #f18c8a
}

.fa-comment-alt{
  color: #EEEEEE
}